.guestListInfo{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
}

 .siter{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.guestList{
    background: linear-gradient(180deg, #B2D9CD 0%, rgba(178, 217, 205, 0.5) 0.01%, rgba(125, 162, 151, 0.7) 100%);
    border-radius: 10px;
    box-shadow: dimgrey 3px 3px;
    width: 70vw;
    overflow: auto;
    display: grid;
    margin: 2em;
}

.guestListInfo{
    width: 100%;
}

tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
}

select{
    text-align-last: center;
}

.addGuest>button{
    background: transparent;
    display: flex;
    margin-left: 4em;
    margin-top: 2em;
    margin-bottom: 0em;
    align-items: center;
    font-size: 1.2em;
}

.addGuest{
    display: flex;
    justify-content: center;
}

.addGuest>button{
    margin: 1em;
    width: 20%;
    align-items: center;
    justify-content: center;
    background: #7DA297;
    height: 6vh;
    padding: 0em;
    font-size: 1em;
}

#guestName{
    width: 30%;
}

#guestSurname{
    width: 30%;
}

#guestPhone{
    width: 20%;
}

#guestName, #guestSurname, #guestPhone, #addGuest{
    border-radius: 10px;
    box-shadow: dimgrey 3px 3px;
}

table{
    font-size: 1.3em;
}

.gPlusOne, .gStatus, .removeGuest{
    width: 5em;
}

.gName, .gPhone{
    width: 10em;
}

td{
    align-items: center;
    display: flex;
    justify-content: center;
}

.fa-trash{
    font-size: 0.8em;
}

.fa-square-check, .fa-square{
    font-size: 1.3em;
}

#invited, #confirmed{
    margin-top: 1.5em;
    margin-right: 1em;
}

.guestListInfo>div{
    display:flex;
}

@media only screen and (max-device-width: 420px){
    main{
        flex-direction: column;
    }

    .menuBar{
        width: 100vw;
    }

    .guestList{
        width: 90vw;
    }

    .gPlusOne, .gStatus, .removeGuest {
        width: 5em;
    }

    .gName, .gPhone {
        width: 6em;
    }
    #guestName, #guestSurname, #guestPhone, #addGuest {
        box-shadow: dimgrey 5px 5px;
        width: 70vw;
    }
    .addGuest {
        flex-direction: column;
        align-items: center;
    }
    h1, span{
        font-size: 1.3em;
    }

    span{
        text-align: center;
        margin: 1em;
    }
}