<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/welcomePage.css">
    <script src="https://kit.fontawesome.com/299209977e.js" crossorigin="anonymous"></script>
    <title>Marimay</title>
</head>
<body>
    <div class = "topBar">
        <div>
            <img src = "/img/logo.svg">
        </div>
        <div class = "buttons">
            <a href = "sign"><button id = "signIn">Sign in</button></a>
            <a href = "login"><button id = "logIn">Log in</button></a>
        </div>
    </div>
    <div class = "mainPicture">
        <div class = "info">
            <h1>Online Wedding Planner</h1>
            <h3 id = "longNapis">With our wedding planner you do not have to worry about frogetting anything. We will remember everything for you.
                All for free!</h3>
        </div>
        <div class = "pictures">
            <div id = "rectangle"></div>
            <img id = "dots" src = "/img/images/dots.png">
            <img id = "fls" src = "/img/images/login-flowers.jpg">
        </div>
    </div>
    <h2 id = setOfTools>A unique set of tools we offer you </h2>
    <div class = "icons">
        
        <div>
            <div class = "header">
                <i class="fas fa-magnifying-glass"></i>
                <h4>Managing 
                    guestlist</h4>
            </div>
                <p>With this tool you will be able to
                    create a comprehensive wedding
                    guest list including attendance,
                    a plus one, dietary preferences.</p>
            
        </div>
            <div>
                <div class = "header">
                <i class="fas fa-sack-dollar"></i>
                <h4>Personalised
                    checklists</h4>
                </div>
                <p>We offer you a set of checklist so 
                    you will not forget about anything. 
                    It will help you to keep track of 
                    tasks that need to be taken care of. </p>
                </div>
            <div>
                <div class = "header">
                <i class="fas fa-users"></i>
                <h4>Look 
                    for vendors</h4>
                </div>
                <p>With our extensive database of
                    vendors and venues, you will 
                    be able to find a perfect place and 
                    vendors for your dream wedding.</p>
                </div>
            <div>
                <div class = "header">
                <i class="fas fa-list-check"></i>
                <h4>Managing 
                    your budget</h4>
                </div>
                <p>Keep track of the all the essential 
                    costs in order to stop you from 
                    spencding more than you should. </p>
                </div>
            <div>
                <div class = "header">
                <i class="fas fa-church"></i>
                <h4>Overview </h4>
            </div>
                <p>On a main page you will be able 
                    to read an overview of all the 
                    wedding details. </p>
                </div>
        </ul>
    </div>
    <div class = "endSection">
        <img id = "roses" src = "/img/images/roses.png">
        <h2>Join us now!</h2>
        <h3>No hidden costs.
            Everything is for free!</h3>
        <a href = "sign"><button id = "logIn">Sign in</button></a>
    </div>
</body>